<app-navbar></app-navbar>

<div class="home-body">
    <div class="container">
        <div class="row box1">
            <div class="col-sm box11">
                <p class="title-box">Scheduling Now</p>
                <a class="content-box">
                    You’ll have the ability to allow anyone to choose and book a meeting time directly to your online Calendar. 
                    Your Calendar will protect you from any pre-existing or conflicting meetings being scheduled online at the 
                    same time. All you have to do is send them your customized personal scheduling link
                </a>
            </div>
            <div class="col-sm box12">

            </div>
        </div>
        <div class="row box2">
            <div class="col-sm box22">

            </div>
            <div class="col-sm box21">
                <p class="title-box">Find a Time: Schedule an Online Meeting</p>
                <a class="content-box">
                    Skip the seemingly endless emails or chat required to find time to meet and schedule events. 
                    Calendar’s Find a Time feature makes it easy to schedule with other people in seconds. 
                    Enter multiple calendar users, see when they are busy or available, and then create an event 
                    based on their availability. That’s productivity at its best.
                </a>
            </div>
        </div>
        <div class="row box1">
            <div class="col-sm box11">
                <p class="title-box">Calendar Analytics</p>
                <a class="content-box">
                    We've reinvented the calendar experience to help you be more productive and intentional 
                    than ever before. With features like Calendar Analytics, for Teams you can have a calendar 
                    that showcases you and maximizes your most valuable resource: your time.
                </a>
            </div>
            <div class="col-sm box12">

            </div>
        </div>
        <div class="row box2">
            <div class="col-sm box22">

            </div>
            <div class="col-sm box21">
                <p class="title-box">Your Online Calendar is always learning</p>
                <a class="content-box">
                    The more you use scheduling Calendar, the more valuable it becomes. We utilize artificial 
                    intelligence and machine learning to develop a unique scheduling experience tailored to you. 
                    In simple terms, we’ll help you become more productive with your calendar over time!
                </a>
            </div>
        </div>
        <div class="row box1">
            <div class="col-sm box11">
                <p class="title-box">Easily schedule meetings with your team.</p>
                <a class="content-box">
                    Introducing Teams! 
                    Calendar has now given you the capability to schedule with team members in 
                    seconds. Enter your team members and any other Calendar users you need to meet with, see when 
                    they are busy or available, and then create your meeting based on their availability.

                    Team Analytics & Advanced Team Analytics coming soon!!!
                </a>
            </div>
            <div class="col-sm box12">

            </div>
        </div>
        <div class="row box2">
            <div class="col-sm box22">

            </div>
            <div class="col-sm box21">
                <p class="title-box">The next evolution of the calendar experience.</p>
                <a class="content-box">
                    Over the past 10 years, our lives have become more complex. Everyone is busy, 
                    and we carry our time-crunched schedules like badges of honor. People are moving 
                    faster than ever before — which means we’re not slowing down enough to determine whether 
                    the way we’re spending our time reflects our values.
                </a>
            </div>
        </div>
        <div class="question-box">
            <div class="tittle-q">
                <p>How does the calendar app work?</p>
            </div>
            <div class="content-q">
                <a>
                    Mastering a calendar app can be one of the most productive changes in your professional and personal life. Calendar puts all of your calendars (personal, work, etc.) into a dashboard where you can easily see what’s on your schedule. View one calendar at a time or all at once.

When you need to schedule a meeting, Calendar looks at your connected calendars to find open time slots. You can customize the options to remove or add times and select meeting length. You can also add meeting location options like a physical address, phone number, or Zoom link. Once you’ve made your preferences, you can email your availability to meeting attendees. All they need to do is click on a time to reserve it and Calendar puts it on your calendar as well as sends the meeting attendees an invite.

These smart, customizable scheduling links allow people to book meetings with you in a flash and make sure you are never double booked.

Think of us like your smart calendar assistant that keeps track of all your appointments and helps you understand how you can spend your time better!
                </a>
            </div>
            <div class="tittle-q">
                <p>Is Calendar the "Best Calendar App" for someone like me?</p>
            </div>
            <div class="content-q">
                <a>Calendar is for any individual or team who wants to be more time efficient in managing their different schedules online.

                    If you have ever had to rearrange your schedule because you accidentally got booked, you know the stress that can be lifted from your shoulders by using Calendar.
                    
                    If you find yourself switching between calendars on your phone or other devices, you can rid yourself of the hassle with Calendar.
                    
                    Calendar isn’t just for the individual. It also works for teams to help them schedule internal and external meetings.
                    
                    Eliminate the back and forth hassle of trying to schedule meetings, especially when multiple people are involved. With Calendar, you can tag two or 200 people on your team, and it will coordinate everyone’s calendars to only show meeting times that work for everyone.
                    
                    Need to reschedule a meeting? Calendar makes it easy with one click. Book every meeting with ease so that you don’t waste time with showing up for meetings that people don’t show up to.</a>
            </div>
            <div class="tittle-q">
                <p>Can I use you as a free calendar app for my business?</p>
            </div>
            <div class="content-q">
                <a>We don’t recommend Calendar’s free plan for business use because of its feature limitations. 
                    For example, you can only include five other people in your workspace. There are other limitations 
                    that a business will run into so it’s easier to set things up well from the start and get on a standard 
                    or pro plan that offers more functionality. For example, the pro plan allows you to have unlimited seats
                     in your workspace and many other necessary features. We created the free plan so that users could get 
                     a taste of the basic features, but in most cases it makes the most sense to start things off on a 
                     standard or pro plan.</a>
            </div>
            <div class="tittle-q">
                <p>What calendars softwares can I use with Calendar? Can I use Google Calendar?</p>
            </div>
            <div class="content-q">
                <a>
                    Calendar connects with a variety of other calendars that you may already be using, including Google Calendar and Microsoft Calendar. We are also working on integrating with iCal and Yahoo Calendar as well.

                    Once you’re logged in, you should be able to easily authenticate your calendars. On the free plan, you can connect up to two calendars. If you need to connect more calendars, you can connect up to 10 calendars on the paid plan. If you need to connect more than 10, contact us and we’ll increase the limits.
                    
                    In addition to our online calendar dashboard, we have both an iOS app and an Android app for mobile devices. Around 20% of our users use their mobile calendar on a daily basis. You can easily connect your calendars through your mobile phone as well.</a>
            </div>
            <div class="tittle-q">
                <p>Does Calendar sell physical calendars?</p>
            </div>
            <div class="content-q">
                <a>
                    Despite the name, Calendar does not sell physical calendars. It is a smart scheduling software to help people and their teams become more time efficient with their scheduling. We’d love for you to give us a shot as your online calendar, but we also understand that if you are used to a print calendar that it may take time to earn your trust.

There are a lot of really good people out there that sell physical calendars. One of the most popular is Calendars.com (note the s at the end). We have personally purchased through them in the past and we had a good experience.</a>
            </div>
            <div class="tittle-q">
                <p>Can I have a personal calendar and work calendar?</p>
            </div>
            <div class="content-q">
                <a>While it would be possible to create a personal Calendar account and a work Calendar account, our goal is to decrease the number of calendars you have to keep track of. With Calendar, you can have your work calendar and your personal calendar under one account, allowing you to see what you have going on in both under one easy-to-read, color coordinated dashboard.

                    Do you have more than one personal calendar? How about your spouse's calendar? Now you can connect all of them in one place. With the pro plan, you can have up to 10 connected calendars on your account.
                </a></div>
            <div class="tittle-q">
                <p>How does calendar scheduling software save me time?</p>
            </div>
            <div class="content-q">
                <a>
                    Calendar’s smart link scheduling software saves you time in a multitude of ways. With customizable time slot links, you can send your link or place it somewhere and people can sign up to meet with you. Once a time slot has been selected, the meeting will go straight to your dashboard. This eliminates the need to email back back and forth to figure out a time that everyone is free.
                    These links also save you time because they show your true availability across all your calendars. This differs from other scheduling software like Google calendar where you can only see one calendar at a time.
                    </a>
                </div>
            <div class="tittle-q">
                <p>What are Calendar’s biggest competitors for scheduling?</p>
            </div>
            <div class="content-q">
                <a>
                    A few of the biggest competitors for scheduling include:

                    Calendly
                    Scheduleonce
                    Doodle
                    Woven
                    Teamup
                    Fantastical
                    These are competitors for scheduling functionality, but with Calendar's updates in team scheduling, they are slowly separating themselves from us. We are truly becoming an all-in-one scheduling tool. As our domain shows we are setting up to be a leader in the space for calendar functionality and will continually get better to earn our customer’s trust.

                    Looking for more calendar apps? Here is our summary to find thebest calendar app.</a>
                    </div>
        </div>
    </div>
    <div class="row team-members">
        <div class="col-sm member">
            <a class="tittle">Membri echipei</a>
            <br>
            <a class="content">Mihai Adrian Dan</a>
            <br>
            <a class="content">Mihai Comsa</a>
            <br>
            <a class="content">Sergiu Gabriel Burkas</a>
            <br>
            <a class="content">Emilian Sebastian Cucolas</a>
            <br>
            <a class="content">Harris Cristea Muller</a>
            <br>
            <a class="content">Gabriel Victor Craciun</a>
            <br>
            <a class="content">Marius Lucian Buhaiu</a>
            <br>
        </div>
        <div class="col-sm member">
            <a class="tittle">Tehnologia folosita</a>
            <br>
            <a class="content">Angular 11</a>
            <br>
            <a class="content">Java 16 (+JDBC.library)</a>
            <br>
            <a class="content">SQL Server (SSMS)</a>
        </div>
        <div class="col-sm member">
            <a class="tittle">Contact</a>
            <br>
            <a class="content">Tel: 0749937263</a>
            <br>
            <a class="content">Email: express_technologies@express.com</a>
        </div>
    </div>
</div>

